<link rel="stylesheet" type="text/css" href="#url('/static/comm/layui/css/layui.css')">
<link rel="stylesheet" type="text/css" href="#url('/static/comm/css/layout.css')">
<link rel="stylesheet" type="text/css" href="#url('/static/comm/css/change.css')">
<link rel="stylesheet" type="text/css" href="#url('/static/comm/css/font-awesome.min.css')">
<link rel="stylesheet" type="text/css" href="#url('/static/comm/css/jquery.bigcolorpicker.css')">
<script src="#url('/static/comm/js/jquery-3.2.1.min.js')"></script>
<script src="#url('/static/comm/layer/layer.js')"></script>
<script src="#url('/static/comm/layui/layui.js')"></script>
<script src="#url('/static/comm/js/template-web.js')"></script>
<script src="#url('/static/js/util/util.js')"></script>
<script src="#url('/static/js/util/rule.js')"></script>
<div style="display:none;">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1274591494'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274591494%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
