<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志管理</title>
    #parse('comm/common.htm')
    <script src="#url('/static/comm/js/appCommon.js')" data-toggle="jsConfig"></script>
</head>
<script type="text/javascript">
    AppCommon.include.load("#url('/static/js/sysmanage/sysLog.js')", "js");
</script>
<body style="padding: 20px">
<div class="layui-tab-item layui-show">
    <div class="sysLog_box"></div>
</div>

<script id="sysLogList_template" type="text/html">
    <div style="text-align: left;">
        <form class="layui-form" lay-filter="searchForm" action="">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input name="accessTime" id="accessTime" type="text" placeholder="访问时间" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                &nbsp;&nbsp;
                <button class="layui-btn" lay-submit lay-filter="searchBtn">查询</button>
            </div>
        </form>
    </div>

    <div style="width:100%">
        <table id="tb_list" lay-filter="tb_list" style="width:100%"></table>
    </div>
</script>
</body>
</html>