<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>无权限</title>
    #parse('/comm/common.htm')
    <script src="#url('/static/comm/js/appCommon.js')" data-toggle="jsConfig" data-version="20180831"></script>
<link rel="stylesheet" href="#url('/static/comm/css/false.css')"/>
</head>

<body class="gray-bg" style="padding: 10px">
    <div class="middle-box text-center animated fadeInDown">
        <h2>无访问权限!</h2>
        <h3 class="font-bold">请联系后台管理员添加权限</h3>

        <div class="error-desc">
            <br/>您可以返回主页看看
            <br/><a href="index.html" class="btn btn-primary m-t">主页</a>
        </div>
    </div>
</body>

</html>