<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>综合信息服务管理平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="#url('/static/comm/layui/css/global.css')">
  <link rel="stylesheet" href="#url('/static/comm/css/main.css')" media="all">
	#parse('/comm/common.htm')
	<script src="#url('/static/comm/js/appCommon.js')" data-toggle="jsConfig" data-version="20180831"></script>
  <style>
  .site-demo, .layui-row{margin-bottom:30px;}
  </style>
</head>
<body style="padding: 10px">

<div class="sysNotice col">
<div class="layui-row">            
<blockquote class="layui-elem-quote layui-text" style="margin-bottom: 4px;">
  待办事项
</blockquote>
<div class="panel_box row" style="margin-top:10px;">
		<div class="panel col">
			<a href="javascript:;" data-url="#">
				<div class="panel_icon">
					<i class="layui-icon" data-icon="">&#xe611;</i>
				</div>
				<div class="panel_word newMessage">
					<span>14</span>
					<cite>新消息</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="#">
				<div class="panel_icon" style="background-color:#FF5722;">
					<i class="layui-icon" data-icon=" ">&#xe612;</i>
				</div>
				<div class="panel_word userAll">
					<span>4124324</span>
					<cite>新增人数</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="#">
				<div class="panel_icon" style="background-color:#009688;">
					<i class="layui-icon" data-icon="">&#xe613;</i>
				</div>
				<div class="panel_word userAll">
					<span>1241324</span>
					<cite>用户总数</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="#">
				<div class="panel_icon" style="background-color:#5FB878;">
					<i class="layui-icon" data-icon="">&#xe629;</i>
				</div>
				<div class="panel_word imgAll">
					<span>345345</span>
					<cite>表格总数</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="#">
				<div class="panel_icon" style="background-color:#F7B824;">
					<i class="layui-icon" data-icon=" ">&#xe7a0;</i>
				</div>
				<div class="panel_word waitNews">
					<span>435</span>
					<cite>待审核文章</cite>
				</div>
			</a>
		</div>
		<div class="panel col max_panel">
			<a href="javascript:;" data-url="#">
				<div class="panel_icon" style="background-color:#2F4056;">
					<i class="layui-icon" data-icon=" ">&#xe60f;</i>
				</div>
				<div class="panel_word allNews">
					<span>123</span>
					<em>文章总数</em>
					<cite>文章列表</cite>
				</div>
			</a>
		</div>
	</div>
  
</div>
<hr> 
<blockquote class="layui-elem-quote layui-text" style="margin-bottom: 4px;">
  数据概览
</blockquote>
	<div class="layui-tab">
  	<ul class="layui-tab-title">
        <li class="layui-this">表1</li>
        <li>表2</li>
        <li>表3</li>
      </ul>
    <div class="layui-tab-content" style="position: relative;height: 2100px;">
    	<div class="layui-tab-item layui-show">
          <iframe style="border: 0;width: 100%;height:2100px;margin: 10px 0;" src="ECharts.html"></iframe>
        </div>
       <div class="layui-tab-item">
      	  <iframe style="border: 0;width: 100%;height:500px;margin: 10px 0;" src="饼状图.html"></iframe>  
    	</div>
        <div class="layui-tab-item">
      	  <iframe style="border: 0;width: 100%;height:500px;margin: 10px 0;" src="树状图.html"></iframe> 
    	</div>
   </div>
</div>
</div>

<div class="sysNotice col">
<div class="col">
			<blockquote class="layui-elem-quote title">更新日志</blockquote>
			<div class="layui-elem-quote layui-quote-nm">
				<h3># 1.0.9_rls （发行版） - 2017-03-01</h3>
				<p>* checkbox复选框原始风格支持不显示文字（之前会默认显示：勾选）</p>
				<p>* 进度条超出100%情况下的自动处理</p>
				<p>* 修复Tab选项卡在出现下拉按钮时，点击最后的几个选项卡未能正常切换的bug</p>
				<p>* 修复select组件搜索选择时会先显示之前的值再替换新的值的不良体验</p>
				<p>* 修复默认进度条0%时，文本出现太过于左侧的问题</p>
				<br>
				<p># 1.0.9</p>
				<p>* 新增“折叠面板”页面元素及相关事件监听</p>
				<p>* select组件增加搜索匹配功能，通过参数 lay-search 开启</p>
				<p>* checkbox组件增加原始风格样式，通过设置 lay-skin="primary" 开启（跟系统自带的类似样貌）</p>
				<p>* 升级 layer弹层组件到 3.0.2 （ layer3.0.2更新日志 ）</p>
				<p>* 表单元素增加属性 lay-ignore ,设置后，将不会对该标签进行美化渲染，即保留系统风格</p>
				<p>* 开关增加两种状态的自定义文本，通过参数 lay-text="ON|OFF" 开启</p>
				<p>* 修复Tab选项卡嵌套的Tab没有对应的内容结构时，切换到了父级内容的bug</p>
				<p>* 修复Tab选项卡容器中使用下拉框时，被溢出隐藏的问题</p>
				<p>* 修复Tab选项卡溢满情况下，点击展开按钮，再在外部添加一个选项卡出现异常的bug</p>
				<p>* Tab选项卡部分UI细节优化</p>
				<p>* Tab选项卡的tabAdd增加id参数，用于在删除和切换时，以id作为匹配媒介</p>
			</div>
		</div>
        
        <div class="col">
			<blockquote class="layui-elem-quote title">系统基本参数</blockquote>
			<table class="layui-table">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td>当前版本</td>
						<td class="version">v1.1015151</td>
					</tr>
					<tr>
						<td>开发作者</td>
						<td class="author"></td>
					</tr>
					<tr>
						<td>网站首页</td>
						<td class="homePage"></td>
					</tr>
					<tr>
						<td>服务器环境</td>
						<td class="server"></td>
					</tr>
					<tr>
						<td>数据库版本</td>
						<td class="dataBase"></td>
					</tr>
					<tr>
						<td>最大上传限制</td>
						<td class="maxUpload"></td>
					</tr>
					<tr>
						<td>当前用户权限</td>
						<td class="userRights"></td>
					</tr>
				</tbody>
			</table>
			<blockquote class="layui-elem-quote title">最新文章<i class="iconfont icon-new1"></i></blockquote>
			<div class="layui-elem-quote layui-quote-nm">
				<h3># 1.0.9_rls （发行版） - 2017-03-01</h3>
				<p>* checkbox复选框原始风格支持不显示文字（之前会默认显示：勾选）</p>
				<p>* 进度条超出100%情况下的自动处理</p>
				<p>* 修复Tab选项卡在出现下拉按钮时，点击最后的几个选项卡未能正常切换的bug</p>
				<p>* 修复select组件搜索选择时会先显示之前的值再替换新的值的不良体验</p>
				<p>* 修复默认进度条0%时，文本出现太过于左侧的问题</p>
				<br>
				<p># 1.0.9</p>
				<p>* 新增“折叠面板”页面元素及相关事件监听</p>
				<p>* select组件增加搜索匹配功能，通过参数 lay-search 开启</p>
				<p>* checkbox组件增加原始风格样式，通过设置 lay-skin="primary" 开启（跟系统自带的类似样貌）</p>
				<p>* 升级 layer弹层组件到 3.0.2 （ layer3.0.2更新日志 ）</p>
				<p>* 表单元素增加属性 lay-ignore ,设置后，将不会对该标签进行美化渲染，即保留系统风格</p>
				<p>* 开关增加两种状态的自定义文本，通过参数 lay-text="ON|OFF" 开启</p>
				<p>* 修复Tab选项卡嵌套的Tab没有对应的内容结构时，切换到了父级内容的bug</p>
				<p>* 修复Tab选项卡容器中使用下拉框时，被溢出隐藏的问题</p>
				<p>* 修复Tab选项卡溢满情况下，点击展开按钮，再在外部添加一个选项卡出现异常的bug</p>
				<p>* Tab选项卡部分UI细节优化</p>
				<p>* Tab选项卡的tabAdd增加id参数，用于在删除和切换时，以id作为匹配媒介</p>
			</div> 
		</div>
        
</div>
                
<script src="../layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
layui.use('element', function(){
  var $ = layui.jquery
  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
});
</script>

</body>
</html>