<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>请重新登录</title>
    <link rel="stylesheet" href="#url('/static/comm/css/false.css')"/>
</head>

<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h2>错误</h2>
    <h3 class="font-bold">登录错误或过期，请重新登录。</h3>

    <div class="error-desc">
        <br/>您可以返回登录页看看
        <br/><a href="#url('/')" class="btn btn-primary m-t">主页</a>
    </div>
</div>
</body>

</html>