<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cimr.sysmanage.dao.UserRoleDao">
    <!-- UserRole的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_UserRole_Map" type="com.cimr.sysmanage.model.UserRole">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="del_flag" property="delFlag" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="update_by" property="updateBy" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                        #{val} 
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                        #{val} 
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:sys_user_role的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="sys_user_role_Column">
        sys_user_role.id as id
        ,sys_user_role.create_by as create_by
        ,sys_user_role.del_flag as del_flag
        ,sys_user_role.update_time as update_time
        ,sys_user_role.create_time as create_time
        ,sys_user_role.user_id as user_id
        ,sys_user_role.role_id as role_id
        ,sys_user_role.update_by as update_by
    </sql>

    <!--获得类名为:UserRole对应的数据库表的数据总行数 -->
    <select id="getObjRowCount_common" parameterType="com.cimr.util.Assist" resultType="java.lang.Long">
        select count(id) from sys_user_role
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:UserRole对应数据库中表的数据集合 -->
    <select id="selectObj_common" parameterType="com.cimr.util.Assist"  resultMap="result_UserRole_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="sys_user_role_Column" /> 
            </otherwise>
        </choose>
        from sys_user_role
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT id as primary_key FROM sys_user_role
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=sys_user_role.id
            </otherwise>
        </choose>
    </select> 

    <!-- 获得一个UserRole对象,以参数UserRole对象中不为空的属性作为条件进行查询-->
    <select id="selectObjByObj_common" parameterType="com.cimr.sysmanage.model.UserRole" resultMap="result_UserRole_Map">
        select 
            <include refid="sys_user_role_Column" /> 
        from sys_user_role
        <where>
            <if test="updateBy != null "> and sys_user_role.update_by = #{updateBy}</if>
            <if test="roleId != null "> and sys_user_role.role_id = #{roleId}</if>
            <if test="userId != null "> and sys_user_role.user_id = #{userId}</if>
            <if test="createTime != null "> and sys_user_role.create_time = #{createTime}</if>
            <if test="updateTime != null "> and sys_user_role.update_time = #{updateTime}</if>
            <if test="delFlag != null "> and sys_user_role.del_flag = #{delFlag}</if>
            <if test="createBy != null "> and sys_user_role.create_by = #{createBy}</if>
            <if test="id != null "> and sys_user_role.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过UserRole的id获得对应数据库中表的数据对象-->
    <select id="selectObjById_common" parameterType="java.lang.String" resultMap="result_UserRole_Map">
        select 
            <include refid="sys_user_role_Column" /> 
        from sys_user_role
        where sys_user_role.id = #{id}
    </select> 

    <!-- 将UserRole插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertObj_common" parameterType="com.cimr.sysmanage.model.UserRole">
        insert into sys_user_role(id,create_by,del_flag,update_time,create_time,user_id,role_id,update_by) 
        values(#{id},#{createBy},#{delFlag},#{updateTime},#{createTime},#{userId},#{roleId},#{updateBy})
    </insert>

    <!-- 将UserRole中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyObj_common" parameterType="com.cimr.sysmanage.model.UserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="createBy != null"> #{createBy},</if>
            <if test="delFlag != null"> #{delFlag},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="userId != null"> #{userId},</if>
            <if test="roleId != null"> #{roleId},</if>
            <if test="updateBy != null"> #{updateBy},</if>
        </trim>
    </insert>

    <!-- 将UserRole批量插入到对应数据库的表中-->
    <insert id="insertObjByBatch_common" parameterType="ArrayList">
        insert into sys_user_role(id,create_by,del_flag,update_time,create_time,user_id,role_id,update_by) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.createBy},#{item.delFlag},#{item.updateTime},#{item.createTime},#{item.userId},#{item.roleId},#{item.updateBy})
        </foreach>
    </insert>

    <!-- 通过UserRole的id将数据库表中对应的数据删除-->
    <delete id="deleteObjById_common" parameterType="java.lang.String">
        delete from sys_user_role
        where id = #{id}
    </delete>

    <!-- 通过辅助工具Assist中的条件将UserRole对应的数据库表的数据删除-->
    <delete id="deleteObj_common" parameterType="com.cimr.util.Assist">
        delete from sys_user_role
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <!-- 通过UserRole的id将UserRole的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateObjById_common" parameterType="com.cimr.sysmanage.model.UserRole">
        update sys_user_role set
            create_by=#{createBy}
            ,del_flag=#{delFlag}
            ,update_time=#{updateTime}
            ,create_time=#{createTime}
            ,user_id=#{userId}
            ,role_id=#{roleId}
            ,update_by=#{updateBy}
        where id=#{id}
    </update>

    <!-- 通过UserRole的id将UserRole中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyObjById_common" parameterType="com.cimr.sysmanage.model.UserRole">
        update sys_user_role
        <set>
            <if test="createBy != null">
                create_by=#{createBy},
            </if>
            <if test="delFlag != null">
                del_flag=#{delFlag},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="roleId != null">
                role_id=#{roleId},
            </if>
            <if test="updateBy != null">
                update_by=#{updateBy},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 通过辅助工具Assist中的条件将UserRole中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateObj_common" parameterType="map">
        update sys_user_role
        <set>
                id=#{enti.id},
                create_by=#{enti.createBy},
                del_flag=#{enti.delFlag},
                update_time=#{enti.updateTime},
                create_time=#{enti.createTime},
                user_id=#{enti.userId},
                role_id=#{enti.roleId},
                update_by=#{enti.updateBy},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <!-- 通过辅助工具Assist中的条件将UserRole中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyObj_common" parameterType="map">
        update sys_user_role
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.createBy != null">
                create_by=#{enti.createBy},
            </if>
            <if test="enti.delFlag != null">
                del_flag=#{enti.delFlag},
            </if>
            <if test="enti.updateTime != null">
                update_time=#{enti.updateTime},
            </if>
            <if test="enti.createTime != null">
                create_time=#{enti.createTime},
            </if>
            <if test="enti.userId != null">
                user_id=#{enti.userId},
            </if>
            <if test="enti.roleId != null">
                role_id=#{enti.roleId},
            </if>
            <if test="enti.updateBy != null">
                update_by=#{enti.updateBy},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>