<!--头部-->
    <div class="layui-main">
        <div class="admin-login-box"> <a class="logo" style="left: 0;" href="#"> <img src="#url('/static/comm/img/logo.png')"/></a>
            <div class="admin-side-toggle"> <i class="fa fa-bars" aria-hidden="true"></i> </div>
        </div>
        <ul class="layui-nav admin-header-item">
            <li class="layui-nav-item"> <a href="http://cimrframe.mydoc.io" target="_blank">使用说明</a> </li>
##            <li class="layui-nav-item"> <a href="javascript:;">单独菜单2</a> </li>
##            <li class="layui-nav-item"> <a href="javascript:;">单独菜单3</a> </li>
            <li class="layui-nav-item"> <a href="javascript:;" class="admin-header-user"> <img src="#url('/static/comm/img/0.jpg')" /> <span class="usermwidth">${layoutUsername}</span> </a>
                <dl class="layui-nav-child">
##                    <dd> <a href="javascript:;"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a> </dd>
                    <dd> <a href="javascript:;" class="changeSkin"><i class="fa fa-refresh"></i><cite>更换皮肤</cite></a></dd>
                    <dd> <a class="logoutBtn" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a> </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav admin-header-item-mobile">
            <li class="layui-nav-item"> <a class="logoutBtn" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a> </li>
        </ul>
    </div>
<!--头部END-->