/*公共样式*/
.main_body{ min-width:320px; }
.layui-elem-quote.title{ padding:15px; margin-bottom:0;background: #ddd;color: #333; }
.layui-tab-more{ position: relative; z-index: 99; background:#fff }
.layui-layer-tab .layui-layer-title span.layui-layer-tabnow{ height:42px !important; }
.layui-layer-tab .layui-layer-title span{ min-width:45px !important; }
.sysNotice .layui-text{color: #333;  background: #ddd; font-weight: bold}
.layui-tab-title .layui-this {  background: #fff}
/*样式改变的过渡*/
.logo,.top_menu .layui-nav-item[pc],.component,.top_menu .layui-nav-item[mobile],.layui-nav,.layui-layout-admin .layui-main,.site-mobile .layui-side,.layui-layout-admin .layui-side,.site-mobile .site-tree-mobile,.layui-body,.layui-layout-admin .layui-footer,.layui-layout-admin .layui-side,.panel,.panel .panel_icon i{ transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out; }

/*main.html*/
.row,.col,.panel_word,.panel_icon{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
.row{ margin-left:-10px; overflow:hidden;}
.col{ padding-left:10px;}
.panel{float: left; text-align: center; width:16.666%; min-width:240px; margin-bottom: 10px;}
.panel_box a{display:block; background-color:#f2f2f2; border-radius:5px; overflow:hidden; }
.panel_icon{ width:40%; display: inline-block; padding:22px 0; background-color:#54ade8;float:left;}
.panel_icon i{ font-size:3em; color:#fff;}
.panel a:hover .panel_icon i{ display:inline-block; transform:scale(1.2,1.2); -webkit-transform:scale(1.2,1.2); -moz-transform:scale(1.2,1.2); -o-transform:scale(1.2,1.2); -ms-transform:scale(1.2,1.2);}
.panel_word{ width:60%; display: inline-block; float:right; margin-top: 22px; }
.panel_word span{ font-size:25px; display:block; height:30px; line-height:30px; }
.allNews em{ font-style:normal; font-size:16px;display: block; }
.panel_box a .allNews cite{ display:none; }
.panel_box a cite{ font-size:16px; display: block; font-style:normal; }
.sysNotice{ width:50%; float: left; margin-top: 10px; }
.sysNotice .layui-elem-quote{ line-height:26px; position: relative}
.sysNotice .layui-table{ margin-top:0; border-left:5px solid #e2e2e2; }
.sysNotice .title .icon-new1{ position: absolute; top:8px; margin-left: 10px; color:#f00; font-size:25px; }
.sysNotice .layui-quote-nm{ background: #fff}
/*响应式*/
@media screen and (max-width:1282px){
	.panel{ width:33.3333%; }
}
@media screen and (max-width:1050px){
	.layui-nav.top_menu .layui-nav-item a{ padding:0 10px; }
	.sysNotice{ width:100%; }
}
@media screen and (max-width: 750px){
	.logo{ padding:0;}
	.top_menu .layui-nav-item[pc],.component,.site-mobile .site-tree-mobile{ display: none !important; }
	.top_menu .layui-nav-item.showNotice[pc]{ display:inline-block !important; }
	.top_menu .layui-nav-item[mobile]{ display:inline-block; }
	.layui-nav.top_menu,.layui-nav.top_menu .layui-nav-item a{ padding:0 10px; }
	.layui-layout-admin .layui-main{ margin-right: 0; }

	/*layui-body*/
	.panel{ width:50%; }
	.layui-body,.layui-layout-admin .layui-footer{ left:0; }
}
@media screen and (max-width:432px){
	.top_menu .layui-nav-item.showNotice[pc]{ display:none !important; }
	.panel{ width:100%; }
}